{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">Welcome To Our Home Page</h2>
  <p class="card-text">Cloud Based Secure Text Transfer</p>
  <p class="card-text">
    Upload Your Encrypted Files At <a href="http://127.0.0.1:8000/upload/">Upload Files</a>
   <br/> or<br/>
    Download The Files At <a href="">Download Files</a>.
  </p>
  <p class="card-text">
    IBM PROJECT BY<br>
    1. Kaushik Kamal Kalita
    <br/>2. Diganta Sonowal
    <br/>3. Dhaitri Sonowal
    <br/>4. Bijit Sonowal
    <br/>5. Dhrubo Jyoti Chetia
  </p>
{% endblock %}
